* {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
    background-color: #0C0C0C;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    z-index: 3;
    background-color: #0C0C0C;
    top: 0;
    left: 0;
    position: fixed;
}

a.logo-pc {
    text-align: start;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.05em;
    margin-left: 50px;
}

.blue {
    color: #1359C1;
}

ul {
    display: flex;
    width: 425px;
    justify-content: space-between;
    margin-right: 50px;
}

nav ul.pc li{
    align-items: center;
    list-style-type: none;
    display: inline-block; 
    padding: 12px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
}

nav ul li a:hover{
    color: #C5C6C7;
    transition: .3s;    
}

div.mobile-nav {
    display: none;
}

a.logo {
    display: none;

}

.mobile-header {
    display: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 90vh;
    max-width: 2100px;
}

.hero-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.hero-text {
    max-width: 50%;
}

.hero-image {
    margin-right: -7vw;
}

.hero-image img {
    height: auto;
    width: 50vw;
}

.story-image {
    margin-right: -7vw;
}

.story-image img {
    height: auto;
    width: 50vw;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 92px;
    color: white;
    margin: 0;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size: 42px;
    color: #D8D8D8;
    margin: 0;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size: 24px;
    line-height: 180%;
    color: white;
}

.content {
    background-color: #0C0C0C;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100vh;
    padding-top: 50px;
    z-index: 1;
    width: 100%;
}

.content-portfolio  {
    background-color: #0C0C0C;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    z-index: 1;
    width: 100%;
}


section {
    max-width: 1500px;
    margin:100px 150px;
}

@media (min-width: 1850px) {
    .content {
        align-items: center;
    }
    .content-portfolio {
        align-items: center;
    }

    section {
        width: 100%; /* Adjust margin for larger screens */
    }
}



hr {
    border: 2px solid #4A4A4A;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container {
    width: 33%;
    height: 550px;
    margin: 4px 0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: auto;
    height: 100%;
    cursor: pointer;
}

.image-container-portrait {
    width: 33%;
    height: 550px;
    margin: 4px 0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container-portrait img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 9999;
}

#fullscreen-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;

}

.about-me {
    display: flex;
    justify-content: space-between;
}

.card-image {
    flex: 1;
    height: auto;
}

.card-image img {
    border-radius: 20px;
    height: auto;
}

.card-image-mine {
    height: 400px;
}

.card-image-mine img {
    border-radius: 20px;
    height: 500PX;
}


.card-text {
    max-width: 45%;
}

button {
    border: 5px solid #1359C1;
    background-color: transparent;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 18px;
    color: white;
}

.abt-CTA {
    margin-top: 50px;
}

.future {
    width: 47%;
}

.skill-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
}

.skill-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

img.logo {
    height: 150px;
    margin-bottom: 30px;
}


.work-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
}

.work-row img {
    height: 500px
}

.center-btn {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


form {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: 3px solid #4A4A4A;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

form button {
    margin-top: 40px;
}

.btn-container {
    text-align: right;
}

footer {
    position: relative;
    background-color: #1A1A1A;
    height: 300px;
    z-index: 1;
}

.footer-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 1340px) {
    section {
        max-width: 1500px;
        margin:100px 20px;
    }

    nav {
        height: 75px;
    }

    .mobile-header {
        display: block;
    }

    div.mobile-nav {
        width: 100%;
        height: 100%;
        display: block;
    }

    .menu {
        display: flex;  
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #191919;
        max-width: 300px; 
        width: 100%;
        height: 100%;
        padding-top: 60px;
        margin-top: 75px;
        transition: 0.5s;
        z-index: 1;
        margin-right: -40px;
    }

    .menu li {
        width: 100%;
        list-style-type: none;
    }

    .menu li a {
        display: block;
        font-size: 28px;
        text-align: left;
        padding: 40px;
        transition: .5s;
    }

    a.logo-pc {
        font-weight: 700;
        font-size: 36px;  
        margin-left: 15px;
    }

    ul {
        padding: 0;
    }
    
    .hamburger {
        position: relative;
        width: 35px;
        margin-right: 15px;
        height: 4px;
        background: #fff;
        border-radius: 2px;
        cursor: pointer;
        z-index: 3;
        transition: .3s;
    }

    .hamburger:before,
    .hamburger:after {
        content: "";
        position: absolute;
        height: 4px;
        right: 0;
        background: #fff;
        border-radius: 2px;
        transition: .3s;
    }

    .hamburger:before {
        top: -10px;
        width: 25px;
    }

    .hamburger:after {
        top: 10px;
        width: 25px;
    }

    .toggle-menu {
        position: absolute;
        width: 30px;
        height: 100%;
        z-index: 4;
        cursor: pointer;
        opacity: 0;
    }

    .hamburger,
    .toggle-menu {
        display: block;
        /*display: none */
    }
    
    .mobile-nav input:checked  ~ .hamburger {
        background: transparent;
    }

    .mobile-nav input:checked  ~ .hamburger:before {
        top:0;
        transform: rotate(-45deg);
        width: 30px;
    }

    .mobile-nav input:checked  ~ .hamburger:after {
        top:0;
        transform: rotate(45deg);
        width: 30px;
    }

    .mobile-nav input:checked  ~ .menu{
        right: 0;
    }

    ul.pc li a {
        display: none;
    }




    .hero {
        width: 100%;
        margin: 0;
    }

    .hero-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-text {
        margin-top: 200px;
        text-align: center;
        max-width: fit-content;
        margin-bottom: 50px;
    }

    .hero-image {
        margin-right: 0;
    }
    
    .hero-image img {
        height: 500px;
        width: auto;
    }

    .story-image {
        margin-right: 0;
    }
    
    .story-image img {
        height: auto;
        width: 700px;
    }

    h1 {
        font-size: 56px;
        text-align: center;
    }
    h2 {
        font-size: 26px;
        text-align: center;
    }

    .about-me {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .card-text {
        max-width: 100%;
    }

    .card-image {
        flex: 1;
        height: auto;
    }

    .card-image img {
        border-radius: 20px;
        height: auto;
        width: 100%;
    }

    .skill-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 125px;
    }
    
    .skill-card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 25px 0;
    }

    .skill-card img {
        width: 100%;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }

    hr  {
        width: 72%;
        margin: 0;
    }

    hr.underline {
        margin-bottom: 25px;
        width: 100%;
        border: 1px solid #4A4A4A;
        border-radius: 2px;
        margin: 0;
    }

    .image-container {
        height: 650px;
        width: 100%;
        margin: 6px 0;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image-container img {
        width: auto;
        height: 100%;
        cursor: pointer;
    }
    
    .image-container-portrait {
        width: 100%;
        height: 550px;
        margin: 4px 0;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image-container-portrait img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    .card-text {
        max-width: 100%;
        text-align: center;
    }

    .card-image-mine {
        flex: 1;
        width: 100%;
        height: auto;
    }

    .card-image-mine img {
        border-radius: 20px;
        height: 400px;
    }

    .work-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
    }

    .future {
        width: 100%;
        text-align: center;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .contact-info {
        text-align: center;
    }

    form {
        width: 100%;
    }

    .btn-container {
        text-align: center;
    }

    .footer-txt {
        margin: 0 100px;
        text-align: center;
    }
  }